@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    background-color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialised;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
    font-family: 300;
    color: #333;
}

a.down {
    margin-top: 170px;
    display: block;
}

.scroll-down,
.scroll-down:hover {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.scroll-down:hover {
    transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
}

.centered {
    text-align: center;
}

.line-head {
    margin: 0 auto;
    margin-bottom: 30px;
}

a:hover,
a:focus {
    color: #58cbb1;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 300;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
    margin-top: -10px;
    opacity: .6;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar-brand>img {
    padding-right: 80px;
}

.navbar-brand:hover {
    opacity: .8;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar-default {
    background: white;
    border-bottom: 2px solid #58cbb1;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav>li:focus,
.navbar-default .navbar-nav>li:hover {
    background-color: #58cbb1;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.navbar-default .navbar-nav>li,
.navbar-default .navbar-nav>li {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #58cbb1;
    color: white;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle {
    background-color: transparent;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #58cbb1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #58cbb1;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


/*HEADER*/

#headerwrap {
    background: url(../img/bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    min-height: 680px;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-position: 100% 0;
}

#headerwrap h1 {
    margin-top: 200px;
    color: #eee;
    font-size: 26px;
    font-weight: 300;
}

#headerwrap h2 {
    margin-top: 70px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0 0 5px gray;
    opacity: .9;
}


/*PROBLEMS*/

#problems {
    margin-top: 70px;
    margin-bottom: 70px;
}

#problems h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#problems .zag-problems {
    margin-bottom: 50px;
}


/*ADVANTAGES*/

#advantages {
    margin-top: 70px;
    margin-bottom: 70px;
}

#advantages h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}

#advantages img {
    width: 150px;
    height: auto;
}

#advantages p {
    margin-top: 20px;
    font-family: inherit;
    font-size: 18px;
    color: #323232;
}

#advantages p.sub-text {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

#advantages .sub-text-convert {
    border-left: 2px solid #58cbb1;
}

div.sub-text-convert {
    padding-left: 15px;
}

div.advant {
    padding-left: 50px;
    padding-right: 50px;
}


/*ABOUT*/

#about {
    margin-top: 70px;
    margin-bottom: 70px;
}

#about h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}

#about p.sub-text {
    color: #58cbb1;
    font-size: 26px;
    line-height: 28px;
    text-align: left;
}

#about .sub-text-convert {
    border-left: 2px solid #58cbb1;
    margin-left: 50px;
}


/*SERVICES*/

#services h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}

#services input {
    outline: none;
    border: 0;
    background-color: #58cbb1;
    color: white;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#services input:hover,
#services input:focus {
    background-color: #49AB95;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#services .stock {
    padding: 30px;
    border-radius: 20px;
    border: 2px dashed #58cbb1;
    background-color: #f5f5f5;
}

#services .table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #58cbb1;
    font-weight: 300;
    font-size: 16px;
}

.second-block .zag {
    color: #384549;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 30px;
}

#services .second-block .second-block-input {
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
    color: #979797;
}

#services .second-block .second-block-input:focus {
    box-shadow: 0 0 5px #888;
}


/*ISSUE*/

#issue {
    margin-top: 70px;
    border-top: 2px dashed #58cbb1;
    padding: 30px;
    background-color: #f6f6f6;
}

#issue .zag-footer {
    color: #384549;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

#issue .second-block-input {
    outline: 0;
    border: 0;
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
    color: #979797;
}

#issue input {
    outline: none;
    border: 0;
    background-color: #58cbb1;
    color: white;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#issue input:hover,
#services input:focus {
    color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#issue .myInput:focus {
    box-shadow: 0 0 5px #888;
}

#issue .time-block {
    font-size: 12px;
    line-height: 20px;
    opacity: .8;
}

#issue .time-block:hover {
    opacity: 1;
}

#issue .sub {
    margin: 20px auto;
    font-size: 12px;
}

#issue .sub a {
    color: #384549;
    padding: 5px;
}

#issue .sub a:hover {
    color: #49AB95;
}

#issue .phone img,
#issue .calendar img {
    float: left;
}

#issue .phone:after,
#issue .calendar:after {
    content: '';
    display: block;
    clear: both;
}

#advantages img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#advantages img:hover {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
}


/*кнопка вверх*/

.go-to-top {
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #eee;
    color: #49AB95;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.go-to-top:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #666;
}

.go-to-top.btn-lg {
    padding: 10px 15px;
    border-radius: 3px;
}


/*для комментариев*/

#comments {
    margin-top: 70px;
    margin-bottom: 70px;
}

#comments h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}

#comments input {
    outline: none;
    border: 0;
    background-color: #58cbb1;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#comments input:hover,
#comments input:focus {
    background-color: #49AB95;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


/*FOOTER*/

.foo-text {
    text-align: justify;
    font-size: 12px;
    opacity: .8;
}

.foo-text:hover {
    opacity: 1;
}


/*модальное окно*/

#basicModal .form-comment {
    margin: 0 auto;
    padding-bottom: 10px;
}

#basicModal p {
    padding: 0;
    margin: 0;
}

#basicModal input {
    outline: none;
    border: 0;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
    color: #979797;
}

#basicModal textarea {
    outline: none;
    border: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
    color: #979797;
}

#basicModal input:focus,
#basicModal textarea:focus {
    box-shadow: 0 0 5px #888;
}

#basicModal .form-comment-last {
    padding-bottom: 0;
}

#basicModal input#comment-btn {
    outline: none;
    border: 0;
    background-color: #49AB95;
    color: white;
    border-radius: 10px;
    height: auto;
    width: 50%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#basicModal input#comment-btn:hover {
    outline: none;
    border: 0;
    background-color: #3B8A78;
    color: white;
    border-radius: 10px;
    height: auto;
    width: 50%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media only screen and (max-width: 992px) {
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }
    .navbar-brand>img {
        padding-right: 0px;
    }
    #issue .phone img,
    #issue .calendar img {
        float: none;
    }
    #issue .phone:after,
    #issue .calendar:after {
        display: block;
    }
}


/*стили для слайдера*/

@media only screen and (max-width: 768px) {
    #comments .comment {
        padding-top: 50px;
        font-size: 14px;
    }
    .item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 526px) {
    #comments .comment {
        padding-top: 50px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 448px) {
    .item {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 440px) {
    #comments .comment {
        padding-top: 50px;
        font-size: 14px;
    }
/*
    .item {
        padding-left: 50px;
        padding-right: 50px;
        height: 400px !important;
    }
*/
    #advantages h2,
    #about h2,
    #services h2,
    #comments h2 {
        margin-bottom: 20px;
    }
}
